:root {
  --purple: #5457F5;
  --black: #263238;
  --shadow: #676F73;

  --page-padding: 80px;
}
@media(max-width: 1024px){
  :root{
    --page-padding: 30px;
  }
}

@font-face {
  font-family: proxima-nova;
  src: url('./fonts/proximanova_regular.ttf');
}

body{
  font-family: proxima-nova;
}
p, h1, h3{
  color: var(--black);
}

.justify-start{
  display: flex;
  justify-content: start;
}
.justify-end{
  display: flex;
  justify-content: end;
}
.purple-span{
  color: var(--purple);
}

@media(max-width: 1023px){
  .desktop{
    display: none!important;
  }
}
@media(min-width: 1024px){
  .mobile{
    display: none!important;
  }
}