:root {
  --purple: #5457F5;
}

@font-face {
  font-family: proxima-nova;
  src: url('./fonts/proximanova_regular.ttf');
}

body{
  font-family: proxima-nova;
}

.justify-start{
  display: flex;
  justify-content: start;
}
.justify-end{
  display: flex;
  justify-content: end;
}
.triple-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row dense;
  column-gap: 25px;
}
.purple-span{
  color: var(--purple);
}